<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanning the Room</title>
</head>
<body>
    <button id="start-camera">Start Camera</button>
    <video id="video" width="320" height="240" autoplay></video>
    <button id="click-photo">Click Photo</button>
    <canvas id="canvas" width="320" height="240"></canvas>
    <script src="static/js/scan.js"> </script>
    <!-- quick start tester for flask-sock -->
    <h1>Flask-Sock Demo</h1>
    <div id="log"></div>
    <br>
    <form id="form">
      <label for="text">Input: </label>
      <input type="text" id="text" autofocus>
        <button type="submit">submit</button>
      </form>
    <script>
        const log = (text, color) => {
          document.getElementById('log').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
        };
  
        const socket = new WebSocket('ws://' + location.host + '/scan_websocket');
        socket.addEventListener('message', ev => {
          log('<<< ' + ev.data, 'blue');
        });
        document.getElementById('form').onsubmit = ev => {
          ev.preventDefault();
          const textField = document.getElementById('text');
          log('>>> ' + textField.value, 'red');
          socket.send(textField.value);
          textField.value = '';
        };
      </script>
</body>
</html>